*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background: grey;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 5rem;
  position: relative;
  &[disabled] {
    opacity: 0.3;
  }
}
