@use "sass:color";

.puzzleContainer {
  position: fixed;
  top: 0;
  bottom: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.puzzle {
  user-select: none;
  width: calc(100vh - 9rem);
  margin: 1rem auto;
  border: 4px solid black;
  position: relative;
  overflow: hidden;
  @media all and (orientation: portrait) {
    width: calc(100% - 3rem);
    margin: 1rem;
  }
  .row {
    display: flex;
    align-content: stretch;
    align-items: stretch;
  }
  .cell {
    width: 20%;
    border: 1px solid black;
    border-width: 1px 0 0 1px;
    position: relative;
    background: white;
    &:last-child {
      box-shadow: 1px 0 black;
    }
    &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
      height: 100%;
      position: relative;
    }
  }
  &.size-5 .cell {
    width: 100 / 5 * 1%;
  }
  &.size-6 .cell {
    width: 100 / 6 * 1%;
  }
  &.size-8 .cell {
    width: 100 / 8 * 1%;
  }
  &.size-10 .cell {
    width: 100 / 10 * 1%;
  }
  &.size-12 .cell {
    width: 100 / 12 * 1%;
  }

  .topBorder {
    border-top-width: 5px;
  }
  .rightBorder {
    border-right-width: 5px;
  }
  .bottomBorder {
    border-bottom-width: 5px;
  }
  .leftBorder {
    border-left-width: 5px;
  }

  @media (max-width: 700px) {
    .topBorder {
      border-top-width: 2px;
    }
    .rightBorder {
      border-right-width: 2px;
    }
    .bottomBorder {
      border-bottom-width: 2px;
    }
    .leftBorder {
      border-left-width: 2px;
    }
  }

  .A-color:before {
    background: color.change(red, $alpha: 0.5);
  }
  .B-color:before {
    background: color.change(orange, $alpha: 0.5);
  }
  .C-color:before {
    background: color.change(yellow, $alpha: 0.5);
  }
  .D-color:before {
    background: color.change(green, $alpha: 0.5);
  }
  .E-color:before {
    background: color.change(blue, $alpha: 0.5);
  }
  .F-color:before {
    background: color.change(purple, $alpha: 0.5);
  }
  .G-color:before {
    background: color.change(teal, $alpha: 0.5);
  }
  .H-color:before {
    background: color.change(pink, $alpha: 0.5);
  }
  .I-color:before {
    background: color.change(lime, $alpha: 0.5);
  }
  .J-color:before {
    background: color.change(brown, $alpha: 0.5);
  }

  .marked {
    background-image: url(./images/pawprints.jpg);
    background-size: 50vh;
    background-attachment: fixed;
    @media all and (orientation: portrait) {
      background-size: 50vw;
    }
  }

  .newlyMarked {
    background: none;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    padding: 0.25rem;
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: red;
      filter: drop-shadow(5px 5px 4px black);
      font-size: 4rem;
      @media (max-width: 700px) {
        font-size: 1.5rem;
      }
    }
  }

  .animatedBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/pawprints.jpg);
    background-size: 50vh;
    background-attachment: fixed;
    @media all and (orientation: portrait) {
      background-size: 50vw;
    }
    .circle {
      position: absolute;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 2000px white;
      transform: translate(-50%, -50%);
    }
  }

  .completedOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .completedModal {
      background: white;
      font-size: 5rem;
      text-align: center;
      padding: 5rem;
    }
  }
}

.puzzleControls {
  position: fixed;
  bottom: 0;
  background: black;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.grow-enter {
  width: 0;
  height: 0;
}

.grow-enter-active,
.grow-enter-done {
  width: 250%;
  height: 250%;
  transition: all 1s ease-in; /* value must match setTimeout in js code */
}

.grow-exit {
  width: 0;
  height: 0;
  transition: all 0.7s ease-in; /* value must match setTimeout in js code */
}
